<div class='chat-room-form'>
  <h1>チャットするスタッフを選択してください</h1>
    <% if @staff_array.present? %>
      <div class='chat-room-form__field'>
        <%= select_tag 'name', options_for_select(@staff_array.collect), include_blank: false, class: 'chat-room-form__label'%>
        <%= button_to "チャットする", relationships_path, params: {staff_id: @staff_array.first[1]}, method: :post, class: 'chat-room-form__action-btn' %>
      </div>
    <% else %>
      <p>フォローしていないスタッフは存在しません。</p>
    <% end %>
</div>
